.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}
.position{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 1.5em;
  color: bisque;
}
.red {
  width: 100px;
  height: 100px;
  background: #900;
}
.green {
  width: 100px;
  height: 100px;
  background: #090;
}
.blue {
  width: 100px;
  height: 200px;
  background: #009;
}
  